/* Estilo geral */

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-weight: bold;
	margin: 0;
}

a {
	color: #333;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Estilo do cabeçalho */

header {
	background-color: #4d4d4d;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav li:first-child {
	margin-left: 0;
}

nav li:last-child {
	margin-right: 0;
}

/* Estilo do conteúdo principal */

main {
	max-width: 800px;
	margin: 20px auto;
	padding: 0 20px;
}

section {
	margin-bottom: 20px;
}

/* Estilo do rodapé */

footer {
	background-color: #f2f2f2;
	padding: 10px;
	text-align: center;
}
